In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd

## Loading general info DataFrame

In [3]:
infocsvfile = '../data/raw/info.csv'
infocsv = pd.read_csv(infocsvfile)

In [4]:
infocsv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1150 entries, 0 to 1149
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         1150 non-null   object
 1   session         1150 non-null   object
 2   id              1150 non-null   object
 3   style           1150 non-null   object
 4   bpm             1150 non-null   int64
 5   beat_type       1150 non-null   object
 6   time_signature  1150 non-null   object
 7   midi_filename   1150 non-null   object
 8   audio_filename  1090 non-null   object
 9   duration        1150 non-null   float64
 10  split           1150 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 99.0+ KB

In [5]:
infocsv.sample(5)

,drummer,session,id,style,bpm,beat_type,time_signature,midi_filename,audio_filename,duration,split
973,drummer7,drummer7/session3,drummer7/session3/53,funk,112,fill,4-4,drummer7/session3/53_funk_112_fill_4-4.mid,drummer7/session3/53_funk_112_fill_4-4.wav,1.899553,test
1095,drummer8,drummer8/session2,drummer8/session2/4,afrobeat,114,beat,4-4,drummer8/session2/4_afrobeat_114_beat_4-4.mid,NaN,186.761040,train
614,drummer5,drummer5/eval_session,drummer5/eval_session/10,soul/groove10,102,beat,4-4,drummer5/eval_session/10_soul-groove10_102_bea...,drummer5/eval_session/10_soul-groove10_102_bea...,37.624981,test
514,drummer3,drummer3/session1,drummer3/session1/17,jazz,120,beat,4-4,drummer3/session1/17_jazz_120_beat_4-4.mid,drummer3/session1/17_jazz_120_beat_4-4.wav,3.196875,train
26,drummer1,drummer1/session1,drummer1/session1/113,funk,95,fill,4-4,drummer1/session1/113_funk_95_fill_4-4.mid,drummer1/session1/113_funk_95_fill_4-4.wav,4.792098,train

In [6]:
infocsv.nunique()

drummer             10
session             25
id                1150
style               76
bpm                 79
beat_type            2
time_signature       5
midi_filename     1150
audio_filename    1090
duration          1117
split                3
dtype: int64

In [7]:
infocsv.split.value_counts(normalize=True)

train         0.780000
test          0.112174
validation    0.107826
Name: split, dtype: float64

In [8]:
infocsv[infocsv.beat_type == 'beat'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503 entries, 0 to 1149
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         503 non-null    object
 1   session         503 non-null    object
 2   id              503 non-null    object
 3   style           503 non-null    object
 4   bpm             503 non-null    int64
 5   beat_type       503 non-null    object
 6   time_signature  503 non-null    object
 7   midi_filename   503 non-null    object
 8   audio_filename  444 non-null    object
 9   duration        503 non-null    float64
 10  split           503 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 47.2+ KB

In [9]:
infocsv[infocsv.beat_type == 'beat'].duration.sum(), infocsv[infocsv.beat_type == 'fill'].duration.sum()

(47129.62995, 1765.401679)

## Filtering DataFrame

In [10]:
df = infocsv[infocsv.beat_type == 'beat']

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 503 entries, 0 to 1149
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         503 non-null    object
 1   session         503 non-null    object
 2   id              503 non-null    object
 3   style           503 non-null    object
 4   bpm             503 non-null    int64
 5   beat_type       503 non-null    object
 6   time_signature  503 non-null    object
 7   midi_filename   503 non-null    object
 8   audio_filename  444 non-null    object
 9   duration        503 non-null    float64
 10  split           503 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 47.2+ KB

In [12]:
df.nunique()

drummer            10
session            25
id                503
style              76
bpm                79
beat_type           1
time_signature      5
midi_filename     503
audio_filename    444
duration          500
split               3
dtype: int64

In [13]:
(df.audio_filename.isna() == True).sum()

59

In [14]:
df[df.audio_filename.isna() == True].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 59 entries, 504 to 1149
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         59 non-null     object
 1   session         59 non-null     object
 2   id              59 non-null     object
 3   style           59 non-null     object
 4   bpm             59 non-null     int64
 5   beat_type       59 non-null     object
 6   time_signature  59 non-null     object
 7   midi_filename   59 non-null     object
 8   audio_filename  0 non-null      object
 9   duration        59 non-null     float64
 10  split           59 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 5.5+ KB

In [15]:
df = df.dropna()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 1133
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   drummer         444 non-null    object
 1   session         444 non-null    object
 2   id              444 non-null    object
 3   style           444 non-null    object
 4   bpm             444 non-null    int64
 5   beat_type       444 non-null    object
 6   time_signature  444 non-null    object
 7   midi_filename   444 non-null    object
 8   audio_filename  444 non-null    object
 9   duration        444 non-null    float64
 10  split           444 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 41.6+ KB

In [17]:
df = df.drop(columns=['drummer', 'id', 'session', 'split', 'midi_filename'])

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 444 entries, 0 to 1133
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   style           444 non-null    object
 1   bpm             444 non-null    int64
 2   beat_type       444 non-null    object
 3   time_signature  444 non-null    object
 4   audio_filename  444 non-null    object
 5   duration        444 non-null    float64
dtypes: float64(1), int64(1), object(4)
memory usage: 24.3+ KB

In [19]:
df.nunique()

style              74
bpm                73
beat_type           1
time_signature      5
audio_filename    444
duration          442
dtype: int64

## Processing drumming styles

In [20]:
df['style'].unique()

array(['funk/groove1', 'soul/groove10', 'funk/groove2', 'soul/groove3',
       'soul/groove4', 'funk/groove5', 'hiphop/groove6', 'pop/groove7',
       'rock/groove8', 'soul/groove9', 'funk', 'neworleans/secondline',
       'dance/disco', 'funk/fast', 'latin/brazilian-baiao', 'afrocuban',
       'reggae', 'reggae/slow', 'rock/halftime', 'funk/purdieshuffle',
       'latin/samba', 'jazz/funk', 'jazz', 'rock/shuffle',
       'jazz/mediumfast', 'jazz/fast', 'latin/reggaeton',
       'dance/breakbeat', 'neworleans/funk', 'latin/chacarera', 'country',
       'rock/prog', 'afrocuban/bembe', 'gospel', 'afrocuban/rhumba',
       'rock', 'punk', 'jazz/march', 'funk/rock', 'rock/folk', 'afrobeat',
       'latin/bomba', 'afrocuban/calypso', 'jazz/swing',
       'rock/rockabilly', 'jazz/linear', 'hiphop', 'jazz/klezmer',
       'latin/brazilian', 'blues/shuffle', 'latin/merengue',
       'latin/brazilian-bossa', 'latin/brazilian-sambareggae',
       'latin/brazilian-songo', 'middleeastern', 'latin/brazilian-samba',
       'latin/brazilian-maracatu', 'latin/venezuelan-merengue',
       'latin/dominican-merengue', 'latin/venezuelan-sangueo', 'soul',
       'latin/venezuelan-joropo', 'latin/ando', 'latin/brazilian-ijexa',
       'latin/brazilian-frevo', 'neworleans/chacha', 'neworleans/shuffle',
       'pop', 'soul/motown', 'jazz/fusion', 'pop/soft', 'rock/indie',
       'latin', 'funk/latin'], dtype=object)

In [21]:
# df.loc[:, 'style_1'] = df['style'].apply(lambda x: x.split('/')[0])

In [22]:
tmp_list = df['style'].apply(lambda x: x.split('/')).to_list()

In [23]:
tmp_df = pd.DataFrame(tmp_list, columns=['style_1', 'style_2'])

In [24]:
tmp_df.head()

  style_1   style_2
0    funk   groove1
1    soul  groove10
2    funk   groove2
3    soul   groove3
4    soul   groove4

In [25]:
tmp_df.nunique()

style_1    17
style_2    56
dtype: int64

In [26]:
tmp_df.style_1.unique()

array(['funk', 'soul', 'hiphop', 'pop', 'rock', 'neworleans', 'dance',
       'latin', 'afrocuban', 'reggae', 'jazz', 'country', 'gospel',
       'punk', 'afrobeat', 'blues', 'middleeastern'], dtype=object)

In [27]:
tmp_df.style_2.unique()

array(['groove1', 'groove10', 'groove2', 'groove3', 'groove4', 'groove5',
       'groove6', 'groove7', 'groove8', 'groove9', None, 'secondline',
       'disco', 'fast', 'brazilian-baiao', 'slow', 'halftime',
       'purdieshuffle', 'samba', 'funk', 'shuffle', 'mediumfast',
       'reggaeton', 'breakbeat', 'chacarera', 'prog', 'bembe', 'rhumba',
       'march', 'rock', 'folk', 'bomba', 'calypso', 'swing', 'rockabilly',
       'linear', 'klezmer', 'brazilian', 'merengue', 'brazilian-bossa',
       'brazilian-sambareggae', 'brazilian-songo', 'brazilian-samba',
       'brazilian-maracatu', 'venezuelan-merengue', 'dominican-merengue',
       'venezuelan-sangueo', 'venezuelan-joropo', 'ando',
       'brazilian-ijexa', 'brazilian-frevo', 'chacha', 'motown', 'fusion',
       'soft', 'indie', 'latin'], dtype=object)

In [28]:
# df = pd.concat([df, pd.DataFrame(tmp_list)], axis=1).rename(columns={0: 'style_1', 1: 'style_2'})
# df

In [29]:
df.head()

,style,bpm,beat_type,time_signature,audio_filename,duration
0,funk/groove1,138,beat,4-4,drummer1/eval_session/1_funk-groove1_138_beat_...,27.872308
1,soul/groove10,102,beat,4-4,drummer1/eval_session/10_soul-groove10_102_bea...,37.691158
2,funk/groove2,105,beat,4-4,drummer1/eval_session/2_funk-groove2_105_beat_...,36.351218
3,soul/groove3,86,beat,4-4,drummer1/eval_session/3_soul-groove3_86_beat_4...,44.716543
4,soul/groove4,80,beat,4-4,drummer1/eval_session/4_soul-groove4_80_beat_4...,47.987500

In [30]:
style_list = df['style'].apply(lambda x: x.split('/')[0]).to_list()

In [31]:
df = df.drop(columns='style')
df.loc[:, 'style'] = style_list

In [32]:
df.head()

,bpm,beat_type,time_signature,audio_filename,duration,style
0,138,beat,4-4,drummer1/eval_session/1_funk-groove1_138_beat_...,27.872308,funk
1,102,beat,4-4,drummer1/eval_session/10_soul-groove10_102_bea...,37.691158,soul
2,105,beat,4-4,drummer1/eval_session/2_funk-groove2_105_beat_...,36.351218,funk
3,86,beat,4-4,drummer1/eval_session/3_soul-groove3_86_beat_4...,44.716543,soul
4,80,beat,4-4,drummer1/eval_session/4_soul-groove4_80_beat_4...,47.987500,soul

In [33]:
df['style'].unique()

array(['funk', 'soul', 'hiphop', 'pop', 'rock', 'neworleans', 'dance',
       'latin', 'afrocuban', 'reggae', 'jazz', 'country', 'gospel',
       'punk', 'afrobeat', 'blues', 'middleeastern'], dtype=object)

In [34]:
df['style'].value_counts()

rock             186
jazz              50
funk              45
latin             42
hiphop            32
soul              28
pop               15
neworleans        11
punk               7
afrocuban          7
dance              5
reggae             4
afrobeat           4
blues              4
country            2
gospel             1
middleeastern      1
Name: style, dtype: int64

## Quantifying duration of all samples

In [35]:
filtered_sytle = 'middleeastern'
df[df['style'] == filtered_sytle]

,bpm,beat_type,time_signature,audio_filename,duration,style
633,126,beat,4-4,drummer5/session1/19_middleeastern_126_beat_4-...,226.604932,middleeastern

In [36]:
filtered_sytle = 'gospel'
df[df['style'] == filtered_sytle]

,bpm,beat_type,time_signature,audio_filename,duration,style
326,120,beat,4-4,drummer1/session2/142_gospel_120_beat_4-4.wav,139.527083,gospel

In [37]:
total_seconds = df[['style', 'duration']].groupby(by='style').sum().sort_values(by='duration')
total_seconds

                   duration
style
gospel           139.527083
middleeastern    226.604932
blues            288.831759
country          299.666435
punk             484.656602
reggae           619.261933
pop              637.575426
dance            656.424061
afrobeat         796.189359
soul            1465.337106
neworleans      1519.564186
afrocuban       1610.531101
hiphop          2025.612826
jazz            4115.426525
funk            4413.172960
latin           6953.082032
rock           10718.978988

### How many samples are possible with a duration of *seq = x* ?

In [38]:
seq = 10 # Sequence of x seconds 

total_seconds.duration.apply(lambda x: int(x/seq))

style
gospel             13
middleeastern      22
blues              28
country            29
punk               48
reggae             61
pop                63
dance              65
afrobeat           79
soul              146
neworleans        151
afrocuban         161
hiphop            202
jazz              411
funk              441
latin             695
rock             1071
Name: duration, dtype: int64

## Putting all together with functions in drumbeatid-2.0 app

In [41]:
from drumbeatid.data.sample_processing import processing_drummers, count_sequences

In [42]:
df_drummers = processing_drummers(infocsv)
df_drummers

,bpm,beat_type,time_signature,audio_filename,duration,style
0,138,beat,4-4,drummer1/eval_session/1_funk-groove1_138_beat_...,27.872308,funk
1,102,beat,4-4,drummer1/eval_session/10_soul-groove10_102_bea...,37.691158,soul
2,105,beat,4-4,drummer1/eval_session/2_funk-groove2_105_beat_...,36.351218,funk
3,86,beat,4-4,drummer1/eval_session/3_soul-groove3_86_beat_4...,44.716543,soul
4,80,beat,4-4,drummer1/eval_session/4_soul-groove4_80_beat_4...,47.987500,soul
...,...,...,...,...,...,...
1129,100,beat,4-4,drummer9/session1/5_rock_100_beat_4-4.wav,71.780000,rock
1130,100,beat,4-4,drummer9/session1/6_rock_100_beat_4-4.wav,4.748750,rock
1131,100,beat,4-4,drummer9/session1/7_rock_100_beat_4-4.wav,23.938750,rock
1132,100,beat,4-4,drummer9/session1/8_rock_100_beat_4-4.wav,11.208750,rock
1133,100,beat,4-4,drummer9/session1/9_rock_100_beat_4-4.wav,9.071250,rock

In [43]:
seq=10
count_sequences(df_drummers, seq)

                   duration  number_sequences
style
gospel           139.527083                13
middleeastern    226.604932                22
blues            288.831759                28
country          299.666435                29
punk             484.656602                48
reggae           619.261933                61
pop              637.575426                63
dance            656.424061                65
afrobeat         796.189359                79
soul            1465.337106               146
neworleans      1519.564186               151
afrocuban       1610.531101               161
hiphop          2025.612826               202
jazz            4115.426525               411
funk            4413.172960               441
latin           6953.082032               695
rock           10718.978988              1071